<h2 class="mb-5">0 Times | 0 Palavras</h2>
<div class="d-grid gap-2">
  <button class="btn btn-warning btn-lg button-large" type="button">Cadastrar Times</button>
  <button class="btn btn-warning btn-lg button-large" type="button">Cadastrar Palavras</button>
  <button class="btn btn-warning btn-lg button-large" type="button">Iniciar Jogo</button>
</div>
